.summary {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  font-size: 22px;
  text-align: left;
  justify-content: space-between;
}

.summary p{
  font-size: 0.75em;
}

.summary-temperatures {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.summary-humidity {
  width: 50%;
}

.summary-rainfall {
  width: 50%;
}

.summary-wind {
  width: 50%;
}