.current-summary {
  display: flex;
  margin: 12px 0;
  font-size: 24px;
  text-align: left;
  justify-content: space-between;
}

.current-summary p{
  font-size: 0.7em;
}

.current-summary-temperatures {

}

.current-summary-humidity {

}

.current-summary-rainfall {

}

.current-summary-wind {

}