.weatherapp-container {
  display: flex;
  height: 300px;
  width: 450px;
  justify-items: center;
  align-items: center;
  margin: 30px 10px 30px 10px;
}

.weatherapp-text {
  height: 300px;
  width: 150px;
}

.weatherapp-forecast {
  height: 300px;
  width: 150px;
}

.weatherapp-stats {
  height: 300px;
  width: 150px;
}