.weatherapp-container {
  display: flex;
  height: 350px;
  width: auto;
  margin: 20px 20px 20px 20px;
}

.weatherapp-container-title {
  max-height: 30px;

  display: flex;
  justify-content: left;
}

.weatherapp-text {
  height: 300px;
  width: 225px;
}

.weatherapp-forecast {
  height: 300px;
  width: 450px;
}

.weatherapp-stats {
  height: 300px;
  width: 225px;
}