.weatherapp-container {
  display: flex;
  height: 350px;
  width: auto;
  justify-content: center;
  margin: 20px 20px 20px 20px;
}

.weatherapp-container-title {
  max-height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 24px;
}

.weatherapp-text {
  height: 300px;
  width: 225px;
}

.weatherapp-summary {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 450px;
  padding: 5px;
}

.weatherapp-stats {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
}