.app-container {
  background: linear-gradient(#065e81, #8ee0e0);
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
  color: white;
}

.logo-title {
  align-content: start;
  align-items: start
}

.pages-container {

  display: flex;
  justify-content: center;
}