.form-template {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}

.form-template .login {
  display:grid;
  grid-template-columns: 50% 50%;
  align-items: start;
}

.form-invalid {
    color: red;
    border-color: red;
    background: #ffd1d1;
}